SIPVS/Content/subory/schema.xsd

<?xml version="1.0"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Student">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Rok_od" type="xsd:integer"/>
				<xsd:element name="Rok_do" type="xsd:integer"/>
				<xsd:element name="Meno" type="xsd:string"/>
				<xsd:element name="priezvisko" type="xsd:string"/>
				<xsd:element name="rodne_priezvisko" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="titul" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="datum_narodenia" type="xsd:dateTime"/>
				<xsd:element name="miesto_narodenia" type="xsd:string"/>
				<xsd:element name="stat" type="xsd:string"/>
				<xsd:element name="rodne_cislo" type="xsd:string"/>
				<xsd:element name="telefon" type="xsd:string"/>
				<xsd:element name="email" type="xsd:string"/>
				<xsd:element name="predmety" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Predmet" maxOccurs="25" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Nazov" type="xsd:string" nillable="true"/>
										<xsd:element name="prvy_rocnik" type="xsd:integer" nillable="true"/>
										<xsd:element name="druhy_rocnik" type="xsd:integer" nillable="true"/>
										<xsd:element name="treti_rocnik" type="xsd:integer" nillable="true"/>
										<xsd:element name="stvrty_rocnik" type="xsd:integer" nillable="true"/>
										<xsd:element name="piaty_rocnik" type="xsd:integer" nillable="true"/>
										<xsd:element name="siesty_rocnik" type="xsd:integer"  nillable="true"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="priemer" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="prvy_rocnik" type="xsd:decimal" nillable="true"/>
							<xsd:element name="druhy_rocnik" type="xsd:decimal" nillable="true"/>
							<xsd:element name="treti_rocnik" type="xsd:decimal" nillable="true"/>
							<xsd:element name="stvrty_rocnik" type="xsd:decimal" nillable="true"/>
							<xsd:element name="piaty_rocnik" type="xsd:decimal" nillable="true"/>
							<xsd:element name="siesty_rocnik" type="xsd:decimal"  nillable="true"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute type="xsd:string" name="Pohlavie"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>